# pyproject.toml (modern & preferred)
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ethiopia-fi-forecast"
version = "0.1.0"
dependencies = [
    "pandas",
    "numpy",
    "statsmodels",
    "matplotlib",
    "seaborn",
    "streamlit",
    "plotly",
]